*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# others
src/main/resources/cc/clv/diablo3ircbot/service_status.html
src/test/resources/cc/clv/diablo3ircbot/service_status.html
