import cc.clv.diablo3ircbot.conf._

new Diablo3IRCBotConfig {
    val ircBotConfig = new IRCBotConfig {
        val userName = "dia3ircbot"
        val loginName = "dia3ircbot"
        val encoding = "UTF-8"
        val serverHost = "chat.freenode.net"
        val serverPort = 6667
        val joinChannel = "#dia3ircbot"
    }
}